body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
    background-color: gray;
    height: 100vh;
    margin-top: 25px;
    text-align: center;
}

.ul ul {
    list-style: none;
}